<!DOCTYPE html>
html(lang="en")
    head
        include layout/head.pug
        title Главная страница
        meta(name="description" content="")
        link(rel="stylesheet" href="css/main.min.css")
    body
        #output Чисоло Фибоначи появится после нажатия кнопки Get Next, кнопка Reset для сброса
        button#get-next Get Next
        button#reset Reset
        script(src="js/bundle.min.js")
        